.container{ 
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 3px;
}
.input {
  height: 100%;
  background: transparent;
  width: auto;
  color: inherit;
  border: none
}

.input:focus {
  outline: none
}